"../../../timbuk-rs/tree-automata/target/debug/deps/search-d4a2e94fed5fc129":
	path: "../../../timbuk-rs/tree-automata/target/debug/deps/search-d4a2e94fed5fc129"
	cwd: "../../../timbuk-rs/tree-automata/target/debug/deps"
